@using sidekick
@using sidekick.testing.Models

@model LoginViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Breadcrumbs</h2>
@using (var breadcrumbs = Html.BeginBreadcrumbs()) 
{
    @breadcrumbs.AddCrumb(Url.Action("Index", "Home"), "Home")
    @breadcrumbs.AddCrumb(Url.Action("About", "Home"), "Page 2", true)
}

<hr />

<h2>Alerts</h2>
@using (Html.BeginAlert(new Alert(AlertType.Danger) { Heading = "Uh Oh!", Dismissible = true })) 
{
    <p>There was an error on the page!</p>   
}

@Html.BuildAlert(new Alert(AlertType.Success) { Heading = "Good Job!", Body = "Congrats! You won the prize!" })

<hr />

<h2>Modal</h2>
<button id="modal-button" class="btn btn-default">Open Modal</button>
@using (var modal = Html.BeginModal(new Modal { ID = "test-modal", Title = "My Modal" })) 
{
    using (modal.BuildBody()) 
    {
        <p>
            Modal content
        </p>
    }
    
    @modal.BuildFooter()
}

<hr />

<h2>Panel</h2>
@using (Html.BeginPanel(new Panel { Title = "My Panel", Icon = "fa fa-truck" })) 
{
    <p>
        Panel content
    </p>   
}

<hr />

<h2>Tab</h2>
@using (var tabs = Html.BeginTabs()) 
{
    @tabs.Tab(new Tab { DisplayText = "Baseball", Name = "baseball", Icon = "fa fa-user", Active = true })
    @tabs.Tab(new Tab { DisplayText = "Football", Name = "football", Icon = "fa fa-truck" })
    
    using (tabs.BeginTab()) 
    {
        <p>The baseball tab</p>
    }
    
    using (tabs.BeginTab()) 
    {
        <p>the football tab</p>
    }
}

<hr />

<h2>Steps</h2>
@using (var steps = Html.BeginSteps()) 
{
    @steps.AddStep("Step 1", "fa fa-truck", "Description of the step", true)   
    @steps.AddStep("Step 2", "fa fa-briefcase", "Description of the next step", true)
    @steps.AddStep("Step 3", "fa fa-user", "Description of the last step")
}

<hr />

<h2>Input Groups</h2>
@Html.InputGroupFor(x => x.Email, new { @placeholder = "Email Address..." }).PrependIcon("fa fa-envelope").HasLabelWithColon().HasValidation()
@Html.InputGroupFor(x => x.Email, Model.TestSelectList, "--Select One--").HasLabelWithColon()

<h2>Datetimepicker</h2>
@Html.InputGroupFor(x => x.Email).AppendIcon("fa fa-calendar").DatetimepickerCss("datetimepicker").HasLabelWithColon()

<h2>Form Groups</h2>
@Html.FormGroupFor(x => x.Email, new { @placeholder = "Email Address..." }).IsRequired().HelpText("This is the help text")

<h2>Text Area</h2>
@Html.TextAreaBuilder(x => x.Email, new { @placeholder = "Enter text..." }).Rows(10).Columns(4).HelpText("This is the help text section")

<h2>Dropdowns</h2>
@Html.DropDownListFor(x => x.Email, SelectListHelpers.YesNoDropdown(), new { @class = "form-control" })
<br />
@Html.DropDownListFor(x => x.Email, SelectListHelpers.BuildSelectList(new CustomSelectList("Option 1", "1").Add("Option 2", "2")), new { @class = "form-control" })


<h2>Labels</h2>
<div class="form-group">
    @Html.BuildLabel(Colors.Danger, "Help!")
    @Html.BuildLabel(Colors.Primary, "Good Job!")
</div>

<h2>Validation Test</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.FormGroupFor(x => x.Email)
    @Html.InputGroupFor(x => x.NoFutureDate).AppendIcon("fa fa-calendar").DatetimepickerCss("datetimepicker").HasLabelWithColon().HasValidation()
    @Html.InputGroupFor(x => x.NoPastDate).AppendIcon("fa fa-calendar").DatetimepickerCss("datetimepicker").HasLabelWithColon().HasValidation()

    <div class="well">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $().ready(function () {
            $('#modal-button').on('click', function () {
                $('#test-modal').modal('show');
            });

            $('[data-toggle="tooltip"]').tooltip();
            $('.datetimepicker').datetimepicker();
        });
    </script>
}
