@using sidekick
@using sidekick.testing.Models

@model LoginViewModel

@{
    ViewBag.Title = "Home Page";
}

@*@Html.BuildHeading(HeadingSize.H2, "Cards (Only available with Bootstrap v4)")
@using (var card = Html.BeginCard(false, false))
{
    using (card.BeginHeader())
    {
        @:Header
    }

    using (card.BeginBlock())
    {
        <p>block body</p>
    }

    using (card.BeginFooter())
    {
        @:Footer goes here
    }
}*@


@Html.BuildHeading(HeadingSize.H2, "Progress Bar")
@Html.BuildProgressBar(new ProgressBar(60).Label("60%")).AddStack(new ProgressBar(20, Colors.Success).Label("20%").Striped(true))

@Html.BuildHeading(HeadingSize.H2, "Button Dropdown")
@using (Html.Begin(new ButtonDropdown().Title("My Menu", "fa fa-edit")))
{
    <li>
        <a href="#">Report 1</a>
    </li>
    <li>
        <a href="#">Report 2</a>
    </li>
    <li>
        <a href="#">Report 3</a>
    </li>
}

@Html.BuildHeading(HeadingSize.H2, "Icons")
@Html.Begin(new Icon("fa fa-square-o").Stacked("fa fa-twitter"))
@Html.Begin(new Icon("fa fa-circle-o fa-stack-2x").StackedText("1"))
@Html.Begin(new Icon("fa fa-edit fa-2x"))

<hr />

@Html.BuildHeading(HeadingSize.H2, "Breadcrumbs")
@using (var breadcrumbs = Html.BeginBreadcrumbs()) 
{
    @breadcrumbs.AddCrumb(Url.Action("Index", "Home"), "Home")
    @breadcrumbs.AddCrumb(Url.Action("About", "Home"), "Page 2", true)
}

<hr />

@Html.BuildHeading(HeadingSize.H2, "Alerts")
@using (Html.Begin(new Alert(AlertType.Danger).Heading("Uh Oh!").Dismissible()))
{
    <p>There was an error on the page</p>
}

@using (var alert = Html.Begin(new Alert(AlertType.Success).Heading("Good Job!")))
{
    @alert.WriteBody()
}

<hr />

@Html.BuildHeading(HeadingSize.H2, "Modals")
<button id="modal-button" class="btn btn-default">Open Modal</button>
@using (var modal = Html.Begin(new Modal("test-modal").Title("My Modal", "fa fa-edit").SubmitButton("Submit", "fa fa-check")))
{
    using (Html.BeginForm())
    {
        using (modal.BeginBody().HasFooter())
        {
            <p>
                Modal content
            </p>
        }
    }
}

<hr />

@Html.BuildHeading(HeadingSize.H2, "Panels")
@using (var panel = Html.Begin(new Panel().Title("My Panel", "fa fa-truck")))
{
    using (panel.BeginBody())
    {
        <p>
            Panel content
        </p>
    }

    <table class="table">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>DOB</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Justin</td>
                <td>Wilcox</td>
                <td>12/24/1989</td>
            </tr>
        </tbody>
    </table>

    using (panel.BeginFooter())
    {
        <p>Testing the footer</p>
    }
}

@using (var panel = Html.Begin(new Panel()))
{
    using (panel.BeginBody())
    {
        <p>Basic panel body</p>
    }
}

<hr />

@Html.BuildHeading(HeadingSize.H2, "Tabs")
@using (var tabs = Html.Begin(TabType.Tabs, stacked: false, justified: true, fade: true))
{
    @tabs.Tab(new Tab("Baseball", "fa fa-user", "baseball", true))
    @tabs.Tab(new Tab("Football", "fa fa-truck", "football"))
    @tabs.Tab(new Tab("Soccer", "fa fa-truck", "soccer"))
    @tabs.Tab(new Tab("Tennis", "fa fa-truck", "tennis"))
    @tabs.Tab(new Tab("Swimming", "fa fa-truck", "swimming"))

    using (var dd = tabs.BeginTabDropdown(new Tab("Dropdown", "fa fa-star", "dropdown")))
    {
        @dd.Option(new Tab("Option 1", "fa fa-phone", "option1"))
        @dd.Option(new Tab("Option 2", "", "option2"))
    }

    using (tabs.BeginTab())
    {
            <p>The baseball tab</p>
    }

    using (tabs.BeginTab())
    {
        <p>The football tab</p>
    }

    using (tabs.BeginTab())
    {
        <p>The soccer tab</p>
    }

    using (tabs.BeginTab())
    {
        <p>The tennis tab</p>
    }

    using (tabs.BeginTab())
    {
        <p>The swimming tab</p>
    }

    using (tabs.BeginTab("option1"))
    {
        <p>Option 1</p>
    }

    using (tabs.BeginTab("option2"))
    {
        <p>Option 2</p>
    }
}

<hr />

@Html.BuildHeading(HeadingSize.H2, "Accordion")
@using (var accordion = Html.Begin(new Accordion("test-accordion")))
{
    using (accordion.BeginPanel(new Panel("1").Title("Section 1")))
    {
        <p>The content for the first section </p>
    }

    using (accordion.BeginPanel(new Panel("2", Colors.Danger).Title("Section 2")))
    {
        <p>The content for second section</p>
    }

    using (accordion.BeginPanel(new Panel("3", Colors.Success).Title("Section 3")))
    {
        <p>The content for third section</p>
    }
}

<hr />

@Html.BuildHeading(HeadingSize.H2, "Input Groups")
@Html.InputGroupFor(x => x.Email).HtmlAttributes(new { @placeholder = "Email Address..." }).PrependIcon("fa fa-envelope").HasLabelWithColon().HasValidation()
@Html.InputGroupFor(x => x.Email, SelectListUtils.BuildSelectList(new CustomSelectList("Option 1", "Option 1").Add("Option 2", "Option 2")), "---Select One---").HasLabelWithColon()

@Html.BuildHeading(HeadingSize.H2, "Datetimepicker")
@Html.InputGroupFor(x => x.Email).AppendIcon("fa fa-calendar").DatetimepickerClass("datetimepicker").HasLabel().IsRequired()

@Html.BuildHeading(HeadingSize.H2, "Form Groups")
@Html.FormGroupFor(x => x.Email, ControlType.Textbox).HtmlAttributes(new { @placeholder = "Email Address..." }).IsRequired().HelpText("This is the help text")

@Html.BuildHeading(HeadingSize.H2, "Textarea")
@Html.FormGroupFor(x => x.Email, ControlType.TextArea).HtmlAttributes(new { @placeholder = "Enter text..." }).Rows(10).Columns(4).HelpText("This is the help text section")

@Html.BuildHeading(HeadingSize.H2, "Dropdown")
@Html.FormGroupFor(x => x.Email, SelectListUtils.YesNoDropdown(), "--Select One--")
<br />
@Html.FormGroupFor(x => x.Email, SelectListUtils.BuildSelectList(new CustomSelectList("Option 1", "1").Add("Option 2", "2")), "--Select One--")

@Html.BuildHeading(HeadingSize.H2, "Checkbox")
@Html.BuildCheckBoxFor(x => x.RememberMe, CheckboxType.Checkbox).HasLabel().IsRequired()

@Html.BuildHeading(HeadingSize.H2, "Labels")
<div class="form-group">
    @Html.BuildLabel(Colors.Danger, "Help!")
    @Html.BuildLabel(Colors.Primary, "Good Job!")
</div>

@Html.BuildHeading(HeadingSize.H2, "Links")
<div class="form-gorup">
    @Html.BuildActionLink("Home", "Index", "Go Home").Icon("fa fa-home").HtmlAttributes(new { @class = "btn btn-primary" }).RouteValues(new { @id = 50 })
    @Ajax.BuildActionLink("Home", "Index", "Test Link").HtmlAttributes(new { @class = "btn btn-success" }).Icon("fa fa-check")
</div>

@Html.BuildHeading(HeadingSize.H2, "Validation Tests")
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.FormGroupFor(x => x.Email, ControlType.Textbox).HtmlAttributes(new { @placeholder = "Enter email..." }).HasLabelWithColon()
    @Html.FormGroupFor(x => x.Password, ControlType.Password).HtmlAttributes(new { @placeholder = "Enter password..." }).HasLabelWithColon()
    @Html.InputGroupFor(x => x.NoFutureDate).AppendIcon("fa fa-calendar").DatetimepickerClass("datetimepicker").HasLabelWithColon().HasValidation()
    @Html.InputGroupFor(x => x.NoPastDate).AppendIcon("fa fa-calendar").DatetimepickerClass("datetimepicker").HasLabelWithColon().HasValidation()
    @Html.BuildCheckBoxFor(x => x.RememberMe, CheckboxType.Checkbox).HasLabel().IsRequired()

    <div class="well">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $().ready(function () {
            $('#modal-button').on('click', function () {
                $('#test-modal').modal('show');
            });

            $('[data-toggle="tooltip"]').tooltip();
            $('.datetimepicker').datetimepicker();
        });
    </script>
}
